{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'darkly.css' %}">
  <title>Dev Forum: Home</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'posts:posts' %}"><b>DevForum</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class='navbar-nav mr-auto'>
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts:create' %}">Create</a>
            </li>

            <li class="nav-item">
              <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <a class="nav-link" href="#" onclick="this.parentNode.submit();">Logout</a>
              </form>
            </li>

            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
            </li>

            {% endif %}

          </ul>
          <ul class="navbar-nav mr-sm-2">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="#">{{request.user}}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /> <br /> <br /> <br />
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'popper.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
</body>

</html>