{% extends 'base_temp.html' %}

{% block content %}

<div class="jumbotron">
    <h1>{{details.title}}</h1>
    <p class="lead">{{details.date}}</p>
    <hr class="my-4">
    <p>{{details.body}}</p>
    <footer class="blockquote-footer"><cite">{{details.author}}</cite></footer>
    <br/>
        <a class="btn btn-success" href="{% url 'posts:posts' %}" role="button">Go Back</a>
        {% if user.is_authenticated %}
            {% if request.user == details.author %}
            <a class="btn btn-danger" href="{% url 'posts:delete' id=details.id %}" role="button">Delete</a>
            {% else %}
            <a class="btn btn-danger disabled" href="{% url 'posts:delete' id=details.id %}" role="button">Delete</a>
            {% endif %}
        {% else %}
            
        {% endif %}
</div>

{% endblock %}